* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    
}

.nav-bar {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}