* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    width: 100vw;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-bar, .hero-text-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subheader {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.hero-text-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px;
    font-weight: bold;
}

.hero-image {
    color: #EFF0F1;
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    margin: 5px 0 5px 20px;
    height: 150px;
}

.hero {
    padding: 5px 5px 5px 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 20%;
}

.info {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    width: 100%;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px 0;
}

.images-and-captions {
    display: flex;
    background-color: #F9FAF8;
    gap: 40px;
    margin-bottom: 60px;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img {
    border: 2px solid #3882F6;
    border-radius: 10%;
    width: 120px;
    height: 120px;
}

.caption {
    text-align: center;
    max-width: 120px;
}

.quote-box {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 5%;
    width: 100%;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    margin: 0 20%;
}

.attribution {
    font-weight: bolder;
    font-size: 18px;
    width: 50%;
    text-align: end;
}

.action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #F9FAF8;
    width: 100%;
}

.action-box {
    background-color: #3882F6;
    border-radius: 8px;
    color:#F9FAF8;
    padding: 30px 60px;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

.action-left {
    
}

.action-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.action-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button {
    border: 2px solid #F9FAF8;
    border-radius: 10%;
    padding: 4px 12px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}