* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;

}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-bar, .hero-text-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subheader {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.hero-text-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    width: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px;
    font-weight: bold;
}

.hero-image {
    color: #EFF0F1;
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    margin: 5px 0 5px 5px;
    height: 150px;
}

.hero {
    padding: 5px 5px 5px 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    width: 80%;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images-and-captions {
    display: flex;
    background-color: white;
    gap: 40px;
    margin-top: 40px;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img {
    border: 2px solid #3882F6;
    border-radius: 10%;
    width: 120px;
    height: 120px;
}

.caption {
    text-align: center;
    max-width: 120px;
}